Client/Connected Services/CalculationService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://docs.microsoft.com/en-us/previous-versions/dotnet/articles/ms951273(v=msdn.10)?redirectedfrom=MSDN" elementFormDefault="qualified" targetNamespace="https://docs.microsoft.com/en-us/previous-versions/dotnet/articles/ms951273(v=msdn.10)?redirectedfrom=MSDN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>